<div ng-controller="ExcelController as ctrl">
    <section id="horizontal">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title">Update Excel Data</h4>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">

                            <form name="loadForm" ng-submit="ctrl.sendLoadForm()" novalidate>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="icon-direction"></i> File Selection Details
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label-control">Customer Name</label>
                                                <select ng-model="ctrl.customer" ng-options="x for x in ctrl.customers"
                                                        ng-init="ctrl.customer = ctrl.customers[0]"
                                                        class="form-control"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label-control">Product Name</label>
                                                <select ng-model="ctrl.product" ng-options="x for x in ctrl.products"
                                                        ng-init="ctrl.product = ctrl.products[0]"
                                                        class="form-control"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label-control">Excel Data</label>
                                                <select ng-model="ctrl.excelname" ng-options="x for x in ctrl.excelnames"
                                                        ng-init="ctrl.excelname = ctrl.excelnames[0]"
                                                        class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    {{ctrl.tabledata.length}}
                                </div>

                                <div class="form-actions right">
                                    <button type="submit" ng-disabled="mainForm.$invalid" class="btn btn-success"><i class="icon-note"></i> Load Excel Data</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>